# Database access
DB_NAME=
DB_USER=
DB_PASSWORD=

# API endpoint
API_BASE_URL=http://localhost:8080

# Server workspace
WORKSPACE=

# Cantaloupe server settings
TAG_CANTALOUPE=
PORT_CANTALOUPE=
CANTALOUPE_ENDPOINT_ADMIN_ENABLED=true
CANTALOUPE_ENDPOINT_ADMIN_USERNAME=
CANTALOUPE_ENDPOINT_ADMIN_SECRET=
CANTALOUPE_LOG_APPLICATION_FILEAPPENDER_ENABLED=false
CANTALOUPE_LOG_APPLICATION_FILEAPPENDER_PATHNAME=/etc/logs/cantaloupe.log
CANTALOUPE_SOURCE_STATIC=FilesystemSource
CANTALOUPE_HTTPSOURCE_BASICLOOKUPSTRATEGY_URL_PREFIX=
CANTALOUPE_HTTPSOURCE_BASICLOOKUPSTRATEGY_AUTH_BASIC_USERNAME=
CANTALOUPE_HTTPSOURCE_BASICLOOKUPSTRATEGY_AUTH_BASIC_SECRET=
