@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --p-datatable-header-cell-selected-color: #1E293B !important; 
    --p-datatable-header-cell-selected-background: #F1F5F9 !important;
    --p-paginator-nav-button-selected-color: #1E293B !important;
    --p-paginator-nav-button-selected-background: #F1F5F9 !important;
    --p-select-option-selected-color: #1E293B !important;
    --p-select-option-selected-background: #F1F5F9 !important;
    --p-select-option-selected-focus-color: #1E293B !important;
    --p-select-option-selected-focus-background: #F1F5F9 !important;
    --p-inputtext-focus-border-color: #1e293b86 !important;
    --p-select-focus-border-color: #1e293b86 !important
}

#__nuxt {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.outfit-headline {
    font-family: 'Outfit', serif;
    font-style: normal;
}

.roboto-plain {
    font-family: 'Roboto', serif;
    font-style: normal;
}

.averia-layout {
    font-family: 'Averia Serif Libre', serif;
}

.roboto-italic {
    font-family: 'Roboto', serif;
    font-style: italic;
}
